.App {
  text-align: center;
}

body {
  background-color: #222;
  margin: 0;
  padding: 0;
}

.stream-container-inner {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#settings-button {
  width: 50px;
}

.split-gutter {
  cursor: col-resize;
}

#twitch-chat {
  height: 100%
}

.chat-container {
  height: calc(100% - 33px) !important;
  overflow: hidden;
}

.menu-bar-button {
  /*padding-top: 2px;*/
  border-radius: 0;
  border: none;
  margin: 0;
}

.stream-iframe {
  height: 100%;
  width: 100%;
}

.color-inverted {
  filter: invert(100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn-secondary:focus {
  outline: none !important;
  box-shadow: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 900px), (orientation: portrait) {

   .split-gutter {
     display: none;
   }

  .stream-container-inner {
    width: 100vw;
    flex-basis: 100% !important;
    height: calc(56.25vw);
  }

  #stream-pane {
    width: 100vw;
    flex-basis: 100% !important;
    height: calc(56.25vw) !important;
    -ms-flex-order: 0;
    order: 0;
  }

  #chat-pane {
    width:100vw;
    flex-basis: 100% !important;
    height: calc(100% - 56.25vw) !important;
    -ms-flex-order: 1;
    order: 1;
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


